
<h3><em>{{summary}}</em></h3>
<div class="well">
<table class= "table table-condensed table-hover table-responsive">
	<tbody>
		<tr>
			<td>Temperature</td> <td>{{temperature}} F</td>
		</tr>
		<tr>
			<td>Chance of {{precipType}}</td> <td>{{precipProbability}}%</td>
		</tr>
	</tbody>
</table>
</div>


